# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large datasets
*.csv

# Python model files
*.pkl

# Logs
*.log
